<div class="card">
  <div class="card-body">
    <div class="input-group">
      <input
        type="text"
        name="newShoppingItem"
        id="newShoppingItem"
        class="form-control form-control"
        [(ngModel)]="newShoppingItem"
        (keyup.enter)="onSubmitItem()"
        placeholder="New shopping item"
      />
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="onSubmitItem()">
          <span class="fa fa-plus px-2"></span>
        </button>
      </div>
    </div>
  </div>
</div>
