<navbar></navbar>

<main class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-5">
      <!-- Add item -->
      <section>
        <create-item></create-item>
      </section>
      <!-- Display items -->
      <section>
        <div class="card custom-card">
          <div class="card-body">
            <perfect-scrollbar class="ps-height" [config]="config">
              <shopping-list-item
                *ngFor="let i of [1, 2, 3, 4, 5]"
              ></shopping-list-item>
            </perfect-scrollbar>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>

<footer class="fixed-bottom">
  <bot-navbar></bot-navbar>
</footer>
