<div class="card custom-card">
  <div class="card-body">
    <h5>My shopping list</h5>
    <perfect-scrollbar class="ps-height" [config]="config">
      <ng-container
        *ngTemplateOutlet="
          (shoppingItems | async)?.length > 0 ? hasItems : hasNoItems
        "
      ></ng-container>
      <ng-template #hasItems>
        <shopping-list-item
          *ngFor="let si of shoppingItems | async"
          [item]="si"
        ></shopping-list-item>
      </ng-template>
      <ng-template #hasNoItems>
        <h6 class="mb-0">My list is empty</h6>
      </ng-template>
    </perfect-scrollbar>
  </div>
</div>
