@import "./assets/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/bootswatch";

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

[class*="col-"],
section {
  margin-bottom: 1.5rem;
}
