@import "./assets/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/bootswatch";

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

[class*="col-"],
section {
  margin-bottom: 1.5rem;
}

section {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
