@import "./assets/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/bootswatch";

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

[class*="col-"],
section {
  margin-bottom: 1.5rem;
}

.custom-card {
  -webkit-box-shadow: 10px 10px 0px 0px rgb(108, 117, 125, 0.75) !important ;
  -moz-box-shadow: 10px 10px 0px 0px rgb(108, 117, 125, 0.75) !important ;
  box-shadow: 10px 10px 0px 0px rgb(109, 118, 126, 0.75) !important ;
  border-radius: 0 !important;
}

.ps-height {
  max-height: 450px !important;
}
